<h1>Amanda's Special Page</h1>

<p>Hello my sweetling. I really and truly love you. You are so amazing</p>

<ul>
    <li>You are so smart. You can really do anything you want to.</li>
    <li>You are incredibly funny and always make me smile.</li>
    <li>Having you in my life, has made me so much better.</li>
</ul>